%script#comment-card-template{:type => "text/x-handlebars-template"}
  .media.comment-card{"data-id" => "{{comment.id}}"}
    .media-left
      %a{:href => "/profile/{{comment.user.username}}"}
        %img._bth.img{:height => "32", :src => "{{comment.user.profile_picture}}", :width => "32"}/
    .media-body
      %p.no-margin-bottom.comment-font
        %a.comment-href{:href => "/profile/{{comment.user.username}}"}
          {{comment.user.first_name}}
          {{comment.user.last_name}}
        \-
        {{comment.comment}}
      %small.text-muted Just now
