.card
  .card-block.padding-bottom-xs
    %h4.card-title
      About
    %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  %ul.list-group.list-group-flush.list-no-border.margin-bottom-sm
    %li.list-group-item
      %i.icon-home
      From Bangalore
    %li.list-group-item
      %i.icon-location-pin
      Lives in Miami
    %li.list-group-item
      %i.icon-graduation
      College BMSCE
    %li.list-group-item
      %i.icon-notebook
      Schooling KVS
  //do stuff here later
  .card-block.hide
    %a.card-link{:href => "#"} Card link
    %a.card-link{:href => "#"} Another link
