<% content_for :title do %>
  Social Networking Script
<% end %>
<% content_for :body do %>
  <!-- INDEX PAGE FOR FIREFLY -->
  <h1>Here is the index page of firefly</h1> 
  <h2><a href="/users/sign_up">New user </h2>
  <h2><a href="/users/sign_in">Login</a> </h2>
<% end %>
