.media
  .media-left
    %a{:href => "/profile/#{current_user.username}"}
      %img._bth.img{:height => "32", :src => "#{current_user.profile_picture}", :width => "32"}/
  .media-body
    .comment-input
      %input.form-control.form-control-sm.comment-input{"aria-describedby" => "sizing-addon3", :placeholder => "Add a comment..", :type => "text"}/
