.loader.loader-inner.ball-pulse.loader-post-card-manage-buttons.pull-right.hide
  %div
  %div
  %div
.btn-group.pull-right.post-card-manage-buttons-inner
  %button.btn.btn-sm.btn-secondary.btn-caret{"data-toggle" => "dropdown", :type => "button"}
    %i.fa.fa-chevron-down
  .dropdown-menu
    %a.dropdown-item.edit-post{:href => "javascript:void(0)"}
      %i.fa.fa-pencil-square
      Edit this post
    .dropdown-divider
    %a.dropdown-item.remove-post{:href => "javascript:void(0)"}
      %i.fa.fa-trash-o
      Remove this post
