.loader.loader-inner.ball-pulse.post-card-edit-loader.hide.margin-top-sm.margin-bottom-sm
  %div
  %div
  %div
.post-edit-container.hide.margin-top-sm
  .margin-bottom-sm
    %textarea.form-control.post-edit-text-box{:rows => "4"}
      = post_content
  .input-group.margin-bottom-sm
    %button.btn.btn-primary-outline.btn-sm.edit-post-save Save
    %button.btn.btn-default-outline.btn-sm.margin-left-sm.edit-post-cancel Cancel
