.card.status-block
  .card-block
    .card-status
      .status-top-nav
        %ul.list-inline
          %li.li-btns
            %i.icon-share-alt
            Share status
          %li.li-breakers |
          %li.li-btns#post-photo
            %i.icon-cloud-upload
            Upload Photos
          %li.li-breakers |
          %li.li-btns
            %i.icon-camera
            Create an album
        .tri-up
      .media
        .media-left
          %a{:href => "#"}
            %img._bth.img{:height => "40", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xlf1/v/t1.0-1/c0.7.40.40/p40x40/10273906_10205850730174579_6462288405333286776_n.jpg?oh=80a61eae8dbf01ec40961a565926f892&oe=576C8D7A&__gda__=1462220614_59acec5ea13e344bf7c335c79e4b064c", :width => "40"}/
        .media-body
          %textarea.form-control-outline#text-status{:placeholder => "What's going on..", :rows => "3"}
  .card-footer
    .row.no-margin
      %button.btn.btn-default-outline.btn-sm.btn-status-footer
        %i.icon-camera.icons
      %button.btn.btn-default-outline.btn-sm.btn-status-footer
        %i.icon-music-tone.icons
      %button.btn.btn-default-outline.btn-sm.btn-status-footer
        %i.icon-location-pin.icons
      %button.btn.btn-primary-outline.btn-sm.pull-right#share-post Share
      .loader.loader-inner.ball-pulse.pull-right#status-widget-loader.hide
        %div
        %div
        %div
.image-upload-form.hide
  = render "widgets/posts/form_image_upload"
