- content_for :title do
  Social Networking Script
- content_for :pagecss do
  - stylesheet_link_tag "home/firefly.home.css"
= render "common/session_nav_bar"
- content_for :body do
  .container.feeds
    .col-md-7
      = render "widgets/status_widget"
      .post-container
        = render "widgets/post_card_widget"
      .templates
        = render "handlebar_templates/post_card_template"
- content_for :pagejs do
  - javascript_include_tag "helpers/posts/firefly.posts.js", "home/firefly.home.js"
