%script#post-card-template{:type => "text/x-handlebars-template"}
  .card.post-card-block
    .card-header.hidden
      Featured
    .card-block.padding-bottom-xs
      .card-post
        .media
          .media-left
            %a{:href => "#"}
              %img._bth.img{:height => "40", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xlf1/v/t1.0-1/c0.7.40.40/p40x40/10273906_10205850730174579_6462288405333286776_n.jpg?oh=80a61eae8dbf01ec40961a565926f892&oe=576C8D7A&__gda__=1462220614_59acec5ea13e344bf7c335c79e4b064c", :width => "40"}/
          .media-body
            %h5 Mukunda Gogoi
            %small.text-muted
              10 hours ago
              %i.icon-people
        .status-content
          %p.margin-top-sm
            {{content}}
        .post-stats.text-muted
          %small 1.5K Likes - 2 Comments - 5 Shares
        %hr.hr-md/
        .post-btns
          %ul.list-inline
            %li.li-btns
              %i.icon-like
              Like
            %li.li-btns
              %i.icon-bubbles
              Comment
            %li.li-btns
              %i.icon-share-alt
              Share
    .card-footer
      .comments-list
        .media
          .media-left
            %a{:href => "#"}
              %img._bth.img{:height => "32", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xlf1/v/t1.0-1/c0.7.40.40/p40x40/10273906_10205850730174579_6462288405333286776_n.jpg?oh=80a61eae8dbf01ec40961a565926f892&oe=576C8D7A&__gda__=1462220614_59acec5ea13e344bf7c335c79e4b064c", :width => "32"}/
          .media-body
            %p.no-margin-bottom.comment-font Mukunda Gogoi - build on the card title and make up the bulk of the
            %small.text-muted 10 hours ago
      .add-comment-container
        .media
          .media-left
            %a{:href => "#"}
              %img._bth.img{:height => "32", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xlf1/v/t1.0-1/c0.7.40.40/p40x40/10273906_10205850730174579_6462288405333286776_n.jpg?oh=80a61eae8dbf01ec40961a565926f892&oe=576C8D7A&__gda__=1462220614_59acec5ea13e344bf7c335c79e4b064c", :width => "32"}/
          .media-body
            .comment-input
              %input.form-control.form-control-sm{"aria-describedby" => "sizing-addon3", :placeholder => "Add a comment..", :type => "text"}/
