<% content_for :nav_bar do %>
    <nav class="navbar navbar-light bg-faded">
      <div class="container">
        <a class="navbar-brand" href="/">Firefly</a>
        <form class="form-inline">
          <input class="form-control" type="text" placeholder="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </nav>
<% end %>
